.d3 {
  margin-left: 16px;
  width: 70px;
  height: 55px;
  display: none;
  align-items: center;
  justify-content: center;
}

.small_part5 button:hover + a .d3 {
  display: flex;
}

.small_part5 a {
  text-decoration: none;
  margin-top: 10px;
}

.small_part5 {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
}

.small_part5 button {
  width: 90%;
  height: 55px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  display: flex;
}

.small_part5 button:hover {
  background-color: rgb(77, 77, 77);
}